<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>火币交易可视化</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <!--<script type="text/javascript" src={{url_for('static', filename='jquery-1.8.3.min.js')}}></script>-->
    <script type="text/javascript" src={{url_for('static', filename='echarts.min.js')}}></script>
    <style>
        body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
<!--.row {-->
  <!--box-sizing: content-box;-->
<!--}-->

    .row::before{
        content: '';
       border-top:25px solid transparent;
        border-bottom:20px solid transparent;

        .row::after{
        content: '';
       border-top:25px solid transparent;
        border-bottom:20px solid transparent;

     #trade
{
height:400px; //高度要固定
overflow:scroll; //超过部分使用滚动条
}


    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">火币交易可视化</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#account">账户</a></li>
            <li><a href="#trade">成交</a></li>
            <li><a href="#">持仓</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-* col-md-12 col-md-offset-* main">
        <h1 class="page-header">Trading</h1>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                <div class="btn-group" role="group" aria-label="ws_connect">
                    <button type="button" class="btn btn-primary btn-sm" id="connect_websocket">连接</button>
                    <button type="button" class="btn btn-dark btn-sm" id="close_websocket">断开</button>
                </div>
                <div class="btn-group" role="group" aria-label="draw_kline">
                    <button type="button" class="btn btn-success btn-sm" id="send_message">开始画图</button>
                    <button type="button" class="btn btn-danger btn-sm" id="close_ht">暂停画图</button>
                </div>
                <div class="btn-group">

                <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="bar counts" aria-describedby="btnGroupAddon" id="message" aria-label="Input group" value="200">
                    <label for="message">@</label>
                      <input type="text" class="form-control" placeholder="code" aria-describedby="btnGroupAddon" id="code" aria-label="Input group" value="" readonly>
                </div>

                    </form>
            </div>
</div>

        <div class="row placeholders">
            <div class="jumbotron" id="main" style="width: auto;height: 500px;" align="center"></div>
        </div>

            <div class="col-sm-7 col-md-6" id="app">

    <div class="dropdown"> <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    代码:
    <span class="caret"></span> </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
            <li role="presentation" v-for="c in codes">
                <a role="menuitem" tabindex="-1" href="#" onclick="setCode($(this).text())">{[c]}</a>
            </li>
         </ul>
    </div>

        <!--<h2 class="sub-header">回测数据</h2>-->

        <div class="table-responsive">
            <table class="table table-striped" id="account">
            <caption>账户信息</caption>
           <thead>
              <tr>
                  <th>时间</th>
                  <th>总市值</th>
                  <th>保证金</th>
                  <th>买入保证金</th>
                  <th>卖出保证金</th>
                  <th>当日总盈亏</th>
                  <th>当日持仓盈亏</th>
                  <th>当日平仓盈亏</th>
                  <th>冻结现金</th>
                  <th>现金</th>
                  <th>市场价值</th>
                  <th>手续费</th>
              </tr>
           </thead>
           <tbody>
                <tr>
                    <td>{[account.datetime]}</td>
                    <td>{[account.total_value]}</td>
                    <td>{[account.margin]}</td>
                    <td>{[account.buy_margin]}</td>
                    <td>{[account.sell_margin]}</td>
                    <td v-bind:style="{color:(account.daily_pnl >= 0?'red':'green')}">{[account.daily_pnl]}</td>
                    <td v-bind:style="{color:(account.holding_pnl >= 0?'red':'green')}">{[account.holding_pnl]}</td>
                    <td v-bind:style="{color:(account.realized_pnl >= 0?'red':'green')}">{[account.realized_pnl]}</td>
                    <td>{[account.frozen_cash]}</td>
                    <td>{[account.cash]}</td>
                    <td>{[account.market_value]}</td>
                    <td>{[account.transaction_cost]}</td>
                </tr>
           </tbody>
        </table>
            <table class="table table-striped table-hover table-condensed" id="position">
                <caption>持仓信息</caption>
               <thead>
                  <tr>
                      <th>代码</th>
                      <th>持仓盈亏</th>
                      <th>平仓盈亏</th>
                      <th>日内盈亏</th>
                      <th>买入持仓</th>
                      <th>卖出持仓</th>
                      <th>手续费</th>
                      <th>保证金</th>
                      <th>市场价值</th>
                      <th>保证金率</th>
                      <th>合约乘数</th>
                  </tr>
               </thead>
               <tbody>
                    <tr v-for="(pos, o_id) in position">
                        <td>{[pos.order_book_id]}</td>
                        <td v-bind:style="{color:(pos.holding_pnl >= 0?'red':'green')}">{[pos.holding_pnl]}</td>
                        <td v-bind:style="{color:(pos.realized_pnl >= 0?'red':'green')}">{[pos.realized_pnl]}</td>
                        <td v-bind:style="{color:(pos.daily_pnl >= 0?'red':'green')}">{[pos.daily_pnl]}</td>
                        <td>{[pos.buy_holding_list]}</td>
                        <td>{[pos.sell_holding_list]}</td>
                        <td>{[pos.transaction_cost]}</td>
                        <td>{[pos.margin]}</td>
                        <td>{[pos.market_value]}</td>
                        <td>{[pos.margin_rate*100 + '%']}</td>
                        <td>{[pos.contract_multiplier]}</td>
                    </tr>
               </tbody>
            </table>
            <table class="table table-striped table-hover table-condensed" id="trade">
                <caption>交易信息</caption>
               <thead>
                  <tr>
                      <th>时间</th>
                      <th>代码</th>
                      <th>买卖</th>
                      <th>价格</th>
                      <th>数量</th>
                      <th>开平</th>
                      <th>手续费</th>
                  </tr>
               </thead>
               <tbody>
                    <tr v-for="t in trade">
                        <td>{[t.trading_datetime]}</td>
                        <td>{[t.order_book_id]}</td>
                        <td v-bind:style="{color:(t.side == 'BUY'?'red':'green')}" >{[t.side]}</td>
                        <td>{[t.last_price]}</td>
                        <td>{[t.last_quantity]}</td>
                        <td>{[t.position_effect]}</td>
                        <td>{[t.transaction_cost]}</td>
                    </tr>
               </tbody>
            </table>

        </div>
                </div>
    </div>
        <!--<div class="col-sm-3 col-md-2 sidebar">-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#">Reports</a></li>-->
        <!--<li><a href="#">Analytics</a></li>-->
        <!--<li><a href="#">Export</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li><a href="">Nav item</a></li>-->
        <!--<li><a href="">Nav item again</a></li>-->
        <!--<li><a href="">One more nav</a></li>-->
        <!--<li><a href="">Another nav item</a></li>-->
        <!--<li><a href="">More navigation</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li><a href="">Nav item again</a></li>-->
        <!--<li><a href="">One more nav</a></li>-->
        <!--<li><a href="">Another nav item</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    </div>
</div>

<footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted" align="center" style="margin-top: 20px;color:#878B91;">凯瑞投资回测可视化@copyright 2018</p>
        </div>
    </footer>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('main'));
var categoryData = new Object();
var bar = new Object();
var trade = new Object();
var extra = new Object();
var is_huatu = true;
var size = $('#message').val()-0;
var code = $('#code').val();
var max_bar = 1000;
var is_first = true;
var draw_counts = 0;
var vm = new Vue({
el: '#app',
delimiters: ['{[', ']}'],
data:{
bar: bar,
account: {},
position: {},
trade: [],
codes: []},
<!--computed: {-->
    <!--codes : function(){-->
        <!--return Object.keys(this.bar);-->
    <!--}}-->
    }
    )

option = {
    title : {
        <!--text: '回测',-->
        <!--subtext: 'K线'-->
    },
    grid: {
        show:'true',
        borderWidth:'0',
        x: '0',
        y: '0',
        x2: '0',
        y2: '0',
        width: '100%',
        height: '100%'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['KLine', 'MA5',  'MA10', 'MA30', 'MA60']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom : {
        show : true,
        realtime: true,
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            data : [

            ]
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale: true,
            splitNumber: 5,
            boundaryGap: [0.05, 0.05]
        }
    ],
    series : [
        {
            name: 'KLine',
            type: 'k',
            dimensions: ['date', 'open', 'close', 'highest', 'lowest'],
            encode: {
                x: 'date',
                y: ['open', 'close', 'highest', 'lowest']
                },
            data: [ // 开盘，收盘，最低，最高
            ],
            zlevel: 0,
            markPoint: {
                label: {
                    normal: {
                        formatter: function (param) {
                            return param != null ? Math.round(param.value) : '';
                        },
                    position: 'right',
                    fontSize: 8
                    }
                },
                data: [
                    {
                        name: 'highest value',
                        type: 'max',
                        valueDim: 'highest'
                    },
                    {
                        name: 'lowest value',
                        type: 'min',
                        valueDim: 'lowest'
                    }
                ],
                tooltip: {
                    formatter: function (param) {
                        return param.name + '<br>' + (param.data.coord || '');
                    }
                }
            }
        },
        {
            name: 'MA5',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
                {
            name: 'MA10',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
                {
            name: 'MA30',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
                {
            name: 'MA60',
            type: 'line',
            data: [],
            smooth: true,
            zlevel: 1,
            lineStyle: {
                normal: {opacity: 0.5}
                }
        },
    ]
}

myChart.showLoading();

function addBar(data){
    if(is_first){
        setCode(data.code);
        is_first = false;
    }

    vm.codes = Object.keys(bar);
    if(data.code in bar){
        bar[data.code].push([data.open, data.close, data.high, data.low]);
        categoryData[data.code].push(data.datetime);
    }else{
        bar[data.code] = [];
        categoryData[data.code] =[];
        bar[data.code].push([data.open, data.close, data.high, data.low]);
        categoryData[data.code].push(data.datetime);
    }

    <!--bar_data = {d.code:[d.datetime, d.open, d.close, d.high, d.low]};-->
    <!--categoryData.push(data[0]);-->
    <!--bar.push(data.slice(1));-->
    x = categoryData[code];
    option.xAxis[0].data=x.slice(-max_bar);
    option.series[0].data=bar[code].slice(-max_bar);
    option.dataZoom.startValue=x[x.length-size];
    option.dataZoom.endValue=x[x.length-1];


    draw_counts += 1;
    if(is_huatu&&draw_counts >=vm.codes.length*60){
        myChart.setOption(option);
        draw_counts = 0;
    }
}


function addTrade(trade_data){
    data = [trade_data.trading_datetime, trade_data.last_price, trade_data.side];
    vm.trade.unshift(trade_data);

    var trade_point = {
                    name: 'trade',
                    symbol: 'triangle',
                    symbolSize: 10,
                    coord: [data[0], data[1]],
                    value: data[1],
                    itemStyle: {
                        normal: {color: 'rgb(41,60,85)'}
                    }
                    };

    if(data[2]=='SELL'){
        trade_point.itemStyle.normal.color = 'rgb(0,255,0)';
        trade_point.symbolRotate = -180;
    }else{
        trade_point.itemStyle.normal.color = 'rgb(255,0,0)';
        trade_point.symbolRotate = 0;
    }

    if(trade_data.order_book_id in trade){
        trade[trade_data.order_book_id].push(trade_point);
    }else{
        trade[trade_data.order_book_id] = [];
        trade[trade_data.order_book_id].push(trade_point);
    }

    option.series[0].markPoint.data = trade[code];

    <!--if(is_huatu){-->
        <!--myChart.setOption(option);-->
    <!--}-->
}

function addExtra(data){

    <!--_data = [data.datetime, data.topic_vals.values()];-->
    if(data.code in extra){
        <!--extra[data.code].push(_data);-->
    }else{
        extra[data.code] = {};
        <!--extra[data.code].push(_data);-->
    }


    for(t in data.topic_vals){
        if(t in extra[data.code]){
            extra[data.code][t].push(data.topic_vals[t]);
        }else{
            extra[data.code][t] = [];
            extra[data.code][t].push(data.topic_vals[t]);
        }
    }
    _current_extra = extra[code]
    for (topic in _current_extra){
        if (topic=='MA5'){
            option.series[1].data = _current_extra[topic].slice(-max_bar)
        }else if (topic=='MA10'){
            option.series[2].data = _current_extra[topic].slice(-max_bar)
        }else if (topic=='MA30'){
            option.series[3].data = _current_extra[topic].slice(-max_bar)
        }else if (topic=='MA60'){
            option.series[4].data = _current_extra[topic].slice(-max_bar)
        }
    }

}

function updateAccount(data){
        vm.account = data;
}

function updatePosition(data){
    vm.position[data['order_book_id']] = data;
}

function setCode(c){
    code = c;
    $('#code').val(c);
    option.series[0].name = code;
    option.legend.data = [code, 'MA5',  'MA10', 'MA30', 'MA60'];
}

myChart.hideLoading();
$(function () {
        function manages(info){
            if (window.s) {
                window.s.close();
            }
            /*创建socket连接*/
            var url = "ws://{{host}}:7214/"; //"ws://localhost:8000"; //
            var socket = new WebSocket(url); //window.location.host  192.168.2.237:7214
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                if(info) alert('WebSocket open');
            };
            var x=null,y=null;
            socket.onmessage = function (e) {
                <!--console.log('message: ' + e.data);//打印出服务端返回过来的数据-->
                var d= $.parseJSON(e.data);
                if(d.topic=='bar'){
                    addBar(d);
                }else if(d.topic=='trade'){
                    addTrade(d);
                }else if(d.topic=='account'){
                    updateAccount(d);
                }else if(d.topic=='position'){
                    updatePosition(d);
                }else if(d.topic=='extra'){
                    addExtra(d);
                }
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;
        }
        manages(false);
        $('#connect_websocket').click(function () {
            manages(true);
        });
        $('#send_message').click(function () {
            //如果未连接到websocket
            is_huatu = true;
            if (!window.s) {
                alert("websocket未连接.");
            } else {
                window.s.send($('#message').val());//通过websocket发送数据
            }
        });
        $('#close_websocket').click(function () {
            if (window.s) {
                window.s.close();//关闭websocket
                console.log('websocket已关闭');
            }
        });
        $('#close_ht').click(function () {
            is_huatu = false;
            size = $('#message').val()-0;
        });
    });

$(document).ready(function() {
    namespace = '/ws';
    console.log(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        socket.on('klines', function(res) {
        console.log(res)
    });
        socket.on('kline_tick', function(res) {
        console.log(res)
    });
        socket.on('account', function(res) {
        console.log(res)
    });
        socket.on('orders', function(res) {
        console.log(res)
    });
        socket.on('connect', function(res) {
        socket.emit('get_klines', { symbol: 'dcreth', period: '1min' });
        console.log(res)
    });

});
</script>
</body>
</html>